@import "../../vars.css";

.container{
    margin-top: 75px;
    color: var(--color-text);
    margin-left: 10px;
    margin-right: 10px;
}
.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}
.projectSliderWrapper{
    position: relative;
    width: 100%;
}
.project{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width:100%;
    max-width: 100vw;
    padding: 20px 30px;
    /*remove scroll-bar*/
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /*gradient mask*/
    mask-image: linear-gradient(to right, transparent, black 10%,black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 3%, black 95%, transparent);
}
.project::-webkit-scrollbar{
    display: none;
}
.leftArrow, .rightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
}
.leftArrow{
    left: 10px;
}
.rightArrow{
    right: 10px;
}
.pagination{
    position: absolute;
    top:-40px;
    left: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: #0d0d0d;
    border-radius: 6px;
    opacity: 0.8;
}
.project>*{
    flex: 0 0 auto;

    scroll-snap-align: start;
    transition: filter 0.5s ease, transform 0.5s ease;
}
